<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head></head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
        <a class="navbar-brand" href="/">Wypożyczalnia samochodów</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" 
                    th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                    <a class="nav-link" href="/">Wypożyczalnia <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()" 
                    th:classappend="${#httpServletRequest.getRequestURI() == '/zaloguj' ? 'active':''}">
                    <a class="nav-link" th:href="@{/zaloguj}">Logowanie</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()" 
                    th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}">
                    <a class="nav-link" th:href="@{/register}">Rejestracja</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'active':''}">
                    <a class="nav-link" th:href="@{/cars}">Twoje samochody</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/car-loan/client' ? 'active':''}">
                    <a class="nav-link" th:href="@{/car-loan/client}">Historia wypożyczonych samochodów</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/car-loan/owner' ? 'active':''}">
                    <a class="nav-link" th:href="@{/car-loan/owner}">Historia udostępnionych samochodów</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
            <form class="my-2 my-lg-0">
                <a class="nav-link" th:href="@{/admin/panel}">Panel administratora</a>
            </form>
        </div>
    </nav>


</body>

</html>