<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/main-fragment :: page-head">
    <title id="pageTitle">Rejestracja</title>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="row" sec:authorize="!isAuthenticated()">
            <div class="col-md-6 col-md-offset-3">
                <h1>Rejestracja</h1>
                <form th:action="@{/register}" method="post" th:object="${userRegistrationDto}">

                    <div th:if="${param.errors}">
                        <div class="alert alert-danger">
                            <p>Nastąpił błąd podczas rejestracji</p>
                        </div>
                    </div>
                    <div th:if="${param.sukces}">
                        <div class="alert alert-info">
                            <p>Rejestracja przebiegła pomyślnie!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Nazwa użytkownika</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="nazwa użytkownika" 
                            th:field="*{username}" required th:classappend="${#fields.hasErrors('username')}? 'is-invalid': ''"/>
                        <div class="invalid-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}">
                            Error message
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="haslo" 
                            th:field="*{password}" required/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="form-control btn btn-info">Zarejestruj się sie</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/main-fragment :: main-scripts"></th:block>
</body>

</html>